*{
    margin: 0;
    padding: 0;
    background-color: aliceblue;

}
body{
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    list-style: none;
}
ul{
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.questions span{
    
}
.box{
    margin-top: 30rem;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
.box .questions{
    padding: 15px;
}
.listt{
    float:inline-start;
}