body{
    margin-right: 13%;
    background-color: rosybrown;
    color: azure;
    display:flex;
    justify-content: center;
    align-items: center;
}
#container h1{
    width:150%;
    height:50px;
    text-align: center;
    border: 3px solid black;
    border-radius: 25px;
    margin-top: 35%;
    padding: 10px;
}    
#inputs{
    width:150%;
    height:100PX;
    margin-top:20%;
    border : 5px solid fuchsia;
    padding: 40px;
}
label{
    text-align: center;
    font-size: x-large ;
    font-weight: 600;
    margin-left: 25%;
}
input[type='date']{
    width: 250px;
    height:30px;
    margin-left: 25%;
    margin-top: 20px;
}
input[type='button']{
    margin-left: 40%;
    margin-top: 20px;
}
#result{
    font-size: x-large;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    color:black;
    width: 100%;
    margin-left: 40%;
}